<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <header>
      <nav class="navbar container">
        <a href="" class="logo">LOGO</a>
        <form action="#!">
          <input type="search" />
          <button class="btn-primary">Search</button>
        </form>
      </nav>
    </header>
  </body>
</html>
