<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyBooks</title>
    <link rel="stylesheet" href="/styles/index.css" />

    <script defer src="/js/main.js"></script>
  </head>
  <body>
    <header class="container">
      <nav class="navbar container">
        <a href="" class="logo">MyBooks</a>
        <form action="/addBook">
          <!-- based on the currentPage value display the respective button -->
          <% if (currentPage === 'home') { %>
          <button class="btn-primary">Add Book</button>
          <% } else { %>
          <button class="btn-primary" name="return" value="back">
            Go Back
          </button>
          <% } %>
        </form>
      </nav>
    </header>
  </body>
</html>
