* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100dvh;
  background-color: $secondary;
  padding: $base-padding * 2;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

.logo {
  color: $primary-color;
  font-size: 2rem;
  font-weight: 600;
}

footer {
  position: sticky;
  top: 100%;
  left: 0;
  bottom: 0;
  padding: $base-padding * 2;
  color: $primary-color;
  border-top: 3px solid $white;
}
