* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100dvh;
  background-color: $secondary;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

.logo {
  color: $primary-color;
  font-size: 2rem;
  font-weight: 600;
}
