<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="" class="logo">LOGO</a>
        <form action="#!">
          <input type="search" />
          <button>Search</button>
        </form>
      </nav>
    </header>
    <main>
      <section class="book">
        <div class="book__img">
          <img src="" alt="" />
        </div>
        <div class="book__details">
          <h1>Book Titile</h1>
        </div>
      </section>
    </main>
  </body>
</html>
