<%- include ('./partials/header.ejs') %>
<main>
  <section class="book">
    <div class="book__img">
      <img src="" alt="" />
    </div>
    <div class="book__details">
      <h1>Book Titile</h1>
      <p class="book__description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente minus
        provident quasi exercitationem, non dolores beatae consequuntur ducimus
        omnis recusandae cumque, illo neque distinctio optio veritatis quos
        nostrum autem doloribus.
      </p>
    </div>
  </section>
</main>
<%- include('./partials/footer.ejs') %>
